@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Raleway+Dots&family=Raleway:wght@100&display=swap");
:root {
  /* font pallette */
  --primary-font: "Adamina", serif;
  --secondary-font: "Raleway", sans-serif;
  --dot-font: "Raleway Dots", cursive;

  /* color pallette */
  --silver: #c0c0c0;
  --spring-roll-gold: #c0a860;
  --steel: #787878;
  --kettleman: #606060;
  --thamar-black: #181818;
  --white: #fff;
  --off-white: #f8f0e3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.hero {
  background-color: #f8f0e3;
}
