@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=Playfair+Display&display=swap');


:root {
  /* font pallette */
  --primary-font:'Playfair Display', serif;
  --secondary-font: 'Gothic A1', sans-serif;
 

  /* color pallette */
  --silver: #c0c0c0;
  --spring-roll-gold: #c0a860;
  --steel: #787878;
  --kettleman: #606060;
  --thamar-black: #181818;
  --white: #fff;
  --off-white: #f8f0e3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* layout */
.layoutContainer {
  height: 100%;
  position: relative;
}

/* navigation */
.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #f8f0e3;
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  background-color: #c0a860;
  width: 100vw;
}

