.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  /* background-color: var(--thamar-black); */
  z-index: 100;
  display: flex;
  align-items: center;
}

.innerWrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.navToggle {
  display: block;
}

.navToggle span {
  display: block;
  width: 45px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
